#page-title {
  font-size: 1.5rem;
  margin: 0;
}

#search-input {
  width: 500px;
  max-width: 50vw;
}

#search-input::placeholder {
  font-size: 0.9rem;
}

.htmx-indicator {
  opacity: 0;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  column-gap: 20px;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.name {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
