<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='color-scheme' content='dark light' />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css'
    />
    <link rel='stylesheet' href='/styles/styles.css' />
    <title>VSCode Material Icons demo</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <strong>VSCode Material Icons</strong>
            demo
          </li>
        </ul>
        <ul>
          <li>
            <a href='https://github.com/matejchalk/vscode-material-icons'>
              GitHub
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>